<footer class="footer">
  <small>
    Library manage Website
  </small>
  <nav>
    <ul>
      <li><%= link_to t("about"), about_path %></li>
      <li><%= link_to t("english"), locale: :en %></li>
      <li><%= link_to t("vietnamese"), locale: :vi %></li>
    </ul>
  </nav>
</footer>
